body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    padding: 10px;
    background-color: #020079;
    color: white;
}

header .back-btn {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}

.ticket-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ticket-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ticket-container p {
    font-size: 16px;
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #020079;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #020079;
}
